---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Sobre mi";

const identify = {
  firstName: "John",
  country: "USA",
  ocupation: "developer",
  hobbies: ["reading", "coding", "traveling"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Node.js"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Algunos datos sobre mi:</p>
  <ul>
    <li>
      <strong>Nombre:</strong>
      {identify.firstName}
    </li>
    <li>
      <strong>País:</strong>
      {identify.country} y soy {identify.ocupation}.
    </li>
    {
      identify.hobbies.length > 0 && (
        <li>
          <strong>Hobbies:</strong>
          <ul>
            {identify.hobbies.map((hobby) => (
              <li>{hobby}</li>
            ))}
          </ul>
        </li>
      )
    }
  </ul>
  <p>Algunas habilidades:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  {happy && <p>¡Estoy feliz de aprender Astro!</p>}

  {finished && <p>¡He terminado este tutorial!</p>}

  {
    goal === 3 ? (
      <p>Mi objetivo es terminar en 3 días.</p>
    ) : (
      <p>Mi objetivo no son 3 días.</p>
    )
  }
</BaseLayout>
