---
import '../styles/global.css';

const pageTitle = "Sobre mi";

const identify = {
  firstName: "John",
  country: "USA",
  ocupation: "developer",
  hobbies: ["reading", "coding", "traveling"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Node.js"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{ skillColor, fontWeight, textCase }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }

      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>
    <a href="/blog/">Mi blog</a>
    <h1>{pageTitle}</h1>
    <p>Algunos datos sobre mi:</p>
    <ul>
      <li>
        <strong>Nombre:</strong>
        {identify.firstName}
      </li>
      <li>
        <strong>País:</strong>
        {identify.country} y soy {identify.ocupation}.
      </li>
      {
        identify.hobbies.length > 0 && (
          <li>
            <strong>Hobbies:</strong>
            <ul>
              {identify.hobbies.map((hobby) => (
                <li>{hobby}</li>
              ))}
            </ul>
          </li>
        )
      }
    </ul>
    <p>Algunas habilidades:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>¡Estoy feliz de aprender Astro!</p>}

    {finished && <p>¡He terminado este tutorial!</p>}

    {
      goal === 3 ? (
        <p>Mi objetivo es terminar en 3 días.</p>
      ) : (
        <p>Mi objetivo no son 3 días.</p>
      )
    }
  </body>
</html>
